@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(
    circle at top center,
    rgb(34, 21, 71) 0%,
    rgba(0, 0, 0, 1) 70%
  );
  background-color: black;
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
  max-height: 100vh;
  background-repeat: no-repeat;
  animation: pulse 2s infinite alternate;

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.02); } /* subtle expansion */
  100% { transform: scale(1); }
}
}

